[Unit]
Description=Test: record 10 seconds every 1 minute (testshow)

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=true
Unit=radio-record@testshow.service


[Install]
WantedBy=timers.target